*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
}

html, body, #root, .container, .container>div {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  box-sizing: border-box;
  font: 2rem/2.4rem 'Open Sans', sans-serif;
  color: #000;
}

ul {
  list-style-type: none
}

a {
  cursor: pointer;
  text-decoration: none;
}

.img--resp {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#root .container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 5% 20px 5%;
  max-width: 600px;
  font-size: 6rem;
  line-height: 6rem;
}

.container div {
  width: 100%;
  text-align: center;
}

.container>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feedBack {
  width: 100%;
  height: 100%;
  padding: 3%;
  color: #fff;
  z-index: -1;
  line-height: 4.2rem;
  font-size: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  background-size: cover;
  background: rgb(240, 146, 78)
  /*url("../public/img/emotion/music.gif") center 8.2rem;*/
}