*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
}

html, body, #root, #container, #container>div {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  box-sizing: border-box;
  font: 2rem/2.4rem 'Open Sans', sans-serif;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

ul {
  list-style-type: none
}

.hide {
  display: none
}

#container {
  margin: 0 auto;
  width: 100%;
  padding: 0 5% 20px 5%;
  position: relative;
  max-width: 800px;
  font-size: 6rem;
  line-height: 8rem;
}

#container div {
  width: 100%;
  text-align: center;
}

#container>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}