.menuToggle {
    position: absolute;
    top: 30px;
    right: 6%;
    font-size: 2.7rem;
    cursor: pointer;
    color: #fff;
    transition: right .3s ease-in;
    z-index: 999;
    padding: 1.3rem 1.3rem 1rem 1.3rem;
    border-radius: 5px;
    background: #16a085;
}