$green: #16a085;

.menuToggle {
    background: lighten($green, 2%);
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: 6.5%;
    font-size: 3.5rem;
    color: #fff;
    z-index: 999;
    width: 6.5rem;
    height: 6.5rem;
    text-align: center;
    line-height: 6rem;
    border-radius: 5px;
    border: 2px solid #fff;

    &:hover {
        background-color: lighten($green, 6%);
    }
}

.menuToggle--open {
    border-color: lighten($green, 10%);
}
